doctype html
html
  head
    block head
      title The Online Feynman Diagram Tool
      meta(name="application-name" content="The Online Feynman Diagram Tool")
      meta(name="author" content="Alec Aivazis")
      meta(name="description" content="Create beautiful Feynman diagrams in your browser with this easy to use tool. You can control every visual aspect of the diagram - even embed latex labels!")
      meta(name="keyword" content="physics, diagram, svg, feynman, high energy physics, web based")

      block css
        != css('feynman')

      block js
        script(type="text/javascript" src="/thirdparty/jquery/dist/jquery.js")
        script(type="text/javascript" src="/thirdparty/jquery-ui/jquery-ui.min.js")
        script(type="text/javascript" src="/thirdparty/angular/angular.js")
        script(type="text/javascript" src="/thirdparty/underscore/underscore.js")

  block content
