# the upstream application server (forward actual connections there)
upstream feynman_server {
    server 127.0.0.1:9000 fail_timeout=0;
}

# the nginx server
server {
    server_name _; # _ means all hosts
    client_max_body_size 4G;

    listen 80 default_server;
    listen [::]:80 default_server ipv6only=on;

    keepalive_timeout 5;

    # your Django project's static files - amend as required
    location /static {
        alias /home/projects/feynman/repository/static;
    }

    # Proxy the static assests for the Django Admin panel
    location /static/admin {
       alias /usr/lib/python2.7/dist-packages/django/contrib/admin/static/admin/;
    }

    location / {
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $http_host;
        proxy_redirect off;
        proxy_pass http://feynman_server;
    }
}

# end of file