//-*- Jade -*-
//-*- coding: utf-8 -*-
//
// Alec Aivazis <alec@aivazis.com>
// 
// (c) 2009-2015 all rights reserved
//


doctype html
html
    head
        block head
            title The Online Feynman Diagram Tool
            meta(name="application-name" content="The Online Feynman Diagram Tool")
            meta(name="author" content="Alec Aivazis")
            meta(name="description" content="Create beautiful, publication-ready Feynman diagrams in your browser with this easy to use online drawing tool. You can control every visual aspect of the diagram - even embed LaTeX labels with intuitive wrappers around common/custom commands! The last application you'll need for designing beautiful Feynman Diagrams.")
            meta(name="keyword" content="physics, diagram, svg, feynman, high energy physics, web based, graphics, GUI ")

        block css

        block js

    body(ng-app="feynman")
        block content



//- end of file