body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  width: 900px

a
  color: #00B7FF

#canvas
  height: 400px
  width: 550px
  margin: 20px
  margin-right: none

svg
  float: left

#propertiesMenu
  float: right
  text-align: center
  border: 1px solid black
  border-radius: 4px
  padding: 20px

#propertiesMenu .headerRow th
  padding-bottom: 15px
  img
    vertical-align: middle

.property
  margin: 5px 0px
  width: 100%
  padding: 0px 20px

.property .label 
  text-align: right
  vertical-align: top

.property .value
  text-align: left

.property .input
  text-align: left
  
.colorpicker
  background: white
  border: 1px solid black
  border-radius: 2px
