body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
  color: #00B7FF

#canvas
  height: 600px
  width: 600px

svg
  float: left

#propertiesMenu
  float: right
  text-align: center
  padding: 20px
  border: 1px solid black
  border-radius: 4px
  
#propertiesMenu input
  border: none

.colorpicker
  background: white
  border: 1px solid black
  border-radius: 2px
