body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
  color: #00B7FF

#canvas
  height: 600px
  width: 600px

svg
  float: left

#propertiesMenu
  float: right
  background: red
  height: 200px
  width: 300px
