@import mixins

html
  height: 100%

body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  width: 100%
  margin: 0
  height: 100%

  color: #333333

a
  color: #00B7FF

#canvas
  height: 100%
  width: 100%
  overflow: hidden
  float: right
  background: #f5f5f5

svg
  float: left

sidebarWidth = 210px

#sidebar
  z-index: 2
  float: left
  text-align: center
  width: sidebarWidth
  height: 100%
  text-align: center
  overflow: hidden

  padding: 20px

  -webkit-box-shadow: 1px 0px 1px 0px rgba(214,214,214,1);
  -moz-box-shadow: 1px 0px 1px 0px rgba(214,214,214,1);
  box-shadow: 1px 0px 1px 0px rgba(214,214,214,1);

#sidebar > div
  border-bottom: 1px solid #eeeeee
  padding-top: 10px

tooltipColor = #3c3c3c

#tooltip
  position: fixed
  top: 0
  right: 0
  height: 100%

  padding: 25px

  z-index: 20
  opacity: .8
  color: white

  background: tooltipColor
  width: 170px
  text-align: center
  height: 100%

.diagramProperty  
  margin-bottom: 10px   

  .label
    text-align: left
    margin-bottom: 10px

  input
    width: 100%

#tooltip .property
  margin-bottom: 15px

#tooltip .label
  width: 60px

#historyContent
  max-height: 100px
  overflow: auto
  padding-bottom: 10px

#historyTitle
  margin-bottom: 10px

.bubble .value 
  display: none

.property
  margin-bottom: 15px


.button 
  width: 150px
  margin-left: 5px
  cursor: pointer

  &.enabled
    background: green

  &.disabled
    background: red

#sidebar .button 
  width: 50px

  

input , select
  text-align: left
  height: 30px
  width: 165px
  border-radius(3px)  
  border: none
  background: white

  -webkit-box-shadow: inset 1px 1px 1px 0px #000000
  -moz-box-shadow: inset 1px 1px 1px 0px #000000
  box-shadow: inset 1px 1px 1px 0px #000000

  padding-left: 10px
    
.colorpicker
  background: white
  border: 1px solid black
  border-radius: 2px

.fixed 
  fill: #b3b3b3

.selectedElement
  stroke: #0091ff

circle.selectedElement
  fill: #0091ff

.gridLine
  stroke: #e5e5e5

.historyItem
  color: black
  vertical-align: top
  cursor: pointer
  text-align: left

  .id
    width: 10%
  .title
    width: 90%
    text-align: left
    float: right
  
  &.current
    color: #1c8ed6
  &.disabled
    color: black


.button
    margin-left: 5px
    button(none, none)

.lineDecoration
  fill: black

.hidden
  display: none

.anchor 
  z-index: 5

.colorPicker

  div
    width: 30px
    height: 32px
    display: inline-block
    background: #dddddd
    text-align: center
      
    margin-right: -4px

    div
      display: inline-block
      width: 15px
      height: 15px
      margin-top: 7px


  input
     width: 130px
     margin-right: -3px
     margin-top: -1px
     display: inline-block
     border-radius(0px)
     height: 31px

#mainContent
  z-index: 1
  position: absolute
  left: sidebarWidth+40px
  right: 0
  bottom: 0
  top: 0

#footer 
  text-align: left
  padding-bottom: 10px

.panelTitle
  text-align: left
  font-weight: bold

.hidePanel, .showPanel
  float: right
  cursor: pointer
  color: #2d89d3

.hotkey
  padding: 7px
  color: #8d8d8d

  .hotkeyTitle
    font-weight: bold

  .hotkeyDescription
    margin-left: 5px


#tooltip .button
  width: 100%
  color: white
  
