@import mixins

html
  height: 100%

body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  width: 100%
  margin: 0
  height: 100%

a
  color: #00B7FF

#canvas
  height: 100%
  width: 100%
  overflow: hidden
  float: right
  background: #f5f5f5

svg
  float: left

sidebarWidth = 270px

#sidebar
  z-index: 2
  float: left
  text-align: center
  width: sidebarWidth
  height: 100%
  text-align: center
  overflow: hidden

  -webkit-box-shadow: 1px 0px 1px 0px rgba(214,214,214,1);
  -moz-box-shadow: 1px 0px 1px 0px rgba(214,214,214,1);
  box-shadow: 1px 0px 1px 0px rgba(214,214,214,1);

.propertiesMenu .headerRow th
    width: 100%

tooltipColor = #7a7a7a

#tooltip
  position: fixed
  top: 0
  right: 0
  height: 100%

  z-index: 20
  opacity: .8
  color: white

  background: tooltipColor
  width: 220px
  text-align: center
  height: 100%

#tooltip .label
  width: 60px

#tooltip .value
  width: 130px
  

#tooltip .value input , #tooltip .value select
  margin-top: 5px
  width: 150px
    

#tooltipTriangle
  text-align: center
  height: 10px

  .arrow-up
    width: 0
    height: 0
    border-left: 10px solid transparent
    border-right: 10px solid transparent
    border-bottom: 10px solid tooltipColor
    display: inline-block

#undoHistory
  padding: 20px
  
  table tbody
    display: block
    max-height: 100px
    overflow: auto

  padding-bottom: 15px
  img
    vertical-align: middle

.bubble .value 
  display: none

.property

  .label 
    text-align: right
    text-transform: capitalize
    padding-right: 5px
    width: 60px
    display: inline-block

  .value
    text-align: left
    width: 130px
    display: inline-block

    .button
        width: 200px

.button 
   width: 150px
   margin-left: 5px
   cursor: pointer

  .enabled
    background: green

  .disabled
    background: red

#sidebar .button 
  width: 50px

  

input , select
  text-align: left
  width: 175px
    
.colorpicker
  background: white
  border: 1px solid black
  border-radius: 2px

.fixed 
  fill: #b3b3b3

.selectedElement
  stroke: #0091ff

circle.selectedElement
  fill: #0091ff

.gridLine
  stroke: #e5e5e5

.historyTitle
  text-align: left
  padding-bottom: 5px

.historyItem
  color: black
  vertical-align: top
  cursor: pointer

  .id
    width: 10%
  .title
    width: 90%
    text-align: left
  
  &.current
    color: #0091ff
  &.disabled
    color: black

 
.tool
  padding-top: 5px
  text-align: center

  .button
    margin-left: 5px
    button(none, none)

.inlineButton
  button(none, none)
  display:  inline

.lineDecoration
  fill: black

.hidden
  display: none

.anchor 
  z-index: 5

#mainContent
  z-index: 1
  position: absolute
  left: sidebarWidth
  right: 0
  bottom: 0
  top: 0

#footer 
  position: absolute
  bottom: 0
  left: 0
  clear: both
  z-index: 15
  text-align: left

  padding: 5px

#tooltip .button
  width: 100%
  color: white
  
