@import mixins

html
  height: 100%

body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  width: 100%
  margin: 0
  height: 100%

a
  color: #00B7FF

#canvas
  height: 100%
  width: 100%
  overflow: hidden
  float: right
  background: #f5f5f5

svg
  float: left

sidebarWidth = 270px

#sidebar
  float: left
  text-align: center
  width: sidebarWidth
  height: 100%
  text-align: center
  overflow: hidden

  position: relative

  table
    width: 100%

#undoHistory
  padding: 20px
  
  table tbody
    display: block
    max-height: 100px
    overflow: auto

.propertiesMenu .headerRow th
  padding-bottom: 15px
  img
    vertical-align: middle

.property
  margin: 5px 0px
  padding: 0px 20px

  .label 
    text-align: right
    vertical-align: top
    padding-right: 5px

  .value
    text-align: left
  
  .input
    text-align: left
    
.colorpicker
  background: white
  border: 1px solid black
  border-radius: 2px

.fixed 
  fill: blue 

.selectedElement
  stroke: red

circle.selectedElement
  fill: red

.gridLine
  stroke: #e5e5e5

.historyTitle
  text-align: left
  padding-bottom: 5px

.historyItem
  color: black
  vertical-align: top
  cursor: pointer

  .id
    width: 10%
  .title
    width: 90%
    text-align: left
  
  &.current
    color: red
  &.disabled
    color: #B5B5B5

 
.tool
  padding-top: 5px
  text-align: center

  .button
    margin-left: 5px
    button(none, none)

.inlineButton
  button(none, none)
  display:  inline

.lineDecoration
  fill: black

.hidden
  display: none

.anchor 
  z-index: 5

#mainContent
  position: absolute
  left: sidebarWidth
  right: 0
  bottom: 0
  top: 0

#footer 
  position: absolute
  bottom: 0
  clear: both

  padding: 5px
  
