border-radius($radius)
  -moz-border-radius: $radius
  -webkit-border-radius: $radius
  -khtml-border-radius: $radius
  border-radius: $radius

vGradient($lower, $upper)
  background: $lower // Old browsers 
  background: -moz-linear-gradient(top, $lower 0%, $upper 100%) // FF3.6+ 
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$lower), color-stop(100%,$upper)) // Chrome,Safari4+ 
  background: -webkit-linear-gradient(top, $lower 0%,$upper 100%) // Chrome10+,Safari5.1+ 
  background: -o-linear-gradient(top, $lower 0% $upper 100%) // Opera 11.10+ 
  background: -ms-linear-gradient(top, $lower 0%, $upper 100%) // IE10+ 
  background: linear-gradient(to bottom, $lower 0%, $upper 100%) // W3C 

button($color, $width)

  if $color == green 
    $color1 = #64c26f
    $color2 = #45a84e
    $shadowColor = #62d573

  else if $color == red
    $color1 = #da7a79
    $color2 = #c85553
    $shadowColor = #f0727

  else if $color == grey
    $color1 = #e9e9e9 
    $color2 = #d2d2d2
    $shadowColor = none
  
  padding: 5px 10px
  
  display: inline-block
  text-align: center
  border-radius: 7px
  cursor: pointer

  // only add a width  if they didnt ask for none
  if width != none
    width: $width - 5px

  border: 1px solid #98000
  color: white

  // only add color if they didnt ask for none
  if $color != none
    vGradient($color1, $color2)
    border-radius(3px)
  else
    color: black

  if $shadowColor != none
    box-shadow: inset 0 1px 0 $shadowColor
    -moz-box-shadow: inset 0 1px 0 $shadowColor
    -webkit-box-shadow: inset 0 1px 0 $shadowColor
